.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
}
.product_details {
    flex: 1;
    margin-right: 20px;
}


.product_details h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.product_details p,
.product_details h3:last-child {
    margin: 2;
    font-size: 16px;
    color: #666;
}

.product_quantity-container {
    display: flex;
    align-items: center;
}

.product_quantity-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product_quantity-container p {
    margin: 0;
    font-size: 18px;
    width: 40px;
    text-align: center;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.total h2 {
    font-size: 24px;
    color: #333;
}
