table, th{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(160 160 160);
}

td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(160 160 160);
    background-color: rgb(169, 255, 236) ;
}

th{
    background-color: lightgray;
}

.botaoRemover{
    border-radius: 20px;
    background-color: white;

}

.botaoRemover:hover{
    background-color: red;
    color: white;
    transform: scale(1.2)
}
